/*
  Global
  Find NewsFeed Watson
  Author: JB
  */

// sass-lint:disable no-empty-rulesets
// sass-lint:disable indentation
// sass-lint:disable empty-line-between-blocks
// sass-lint:disable no-color-literals

$image-path: '../img/';
$video-path: '../videos';
