/*
  Hex-Color
  project: Find NewsFeed Watson
  author: JB
 */

// sass-lint:disable no-empty-rulesets
// sass-lint:disable indentation
// sass-lint:disable empty-line-between-blocks
// sass-lint:disable no-color-literals

$black: #000;
$white: #fff;
$gray: #beb9a8;
$gray-dark: #404040;
$brown-light: #a45f4a;
